/* main css code in borrowing.css */
.e102_2 {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  width: 1920px;
  height: 740px;
  position: absolute;
}
.e102_3 {
  color: rgba(0, 0, 0, 1);
  width: 217px;
  height: 37px;
  position: absolute;
  left: 851px;
  top: 83px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
}
.e102_6 {
  color: rgba(0, 0, 0, 1);
  width: 236px;
  height: 62px;
  position: absolute;
  left: 842px;
  top: 120px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 50px;
  letter-spacing: 0;
}
.e102_25 {
  background-color: rgba(
    217.0000022649765,
    217.0000022649765,
    217.0000022649765,
    1
  );
  width: 570px;
  height: 250px;
  position: absolute;
  left: 675px;
  top: 205px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.e102_33 {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 78px;
  height: 37px;
  position: absolute;
  left: 921px;
  top: 525px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.e102_34 {
  color: rgba(0, 0, 0, 1);
  width: 300px;
  height: 37px;
  position: absolute;
  left: 822px;
  top: 478px;
  font-family: Kumbh Sans;
  text-align: left;
  font-size: 30px;
  letter-spacing: 0;
  text-align: center;
}
.e102_36 {
  color: rgba(0, 0, 0, 1);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 30px;
  position: absolute;
  letter-spacing: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.e102_41 {
  width: 374px;
  height: 70px;
  position: absolute;
  left: 773px;
  top: 582px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.e102_38 {
  color: rgba(0, 0, 0, 1);
  width: 167px;
  height: 58.64864730834961px;
  position: absolute;
  left: 101px;
  top: 5.675675868988037px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 35px;
  letter-spacing: 0;
}
/* back-button in borrow page */
.e102_22 {
  overflow: hidden;
  width: 78px;
  height: 25px;
  left: 380px;
  top: 120px;
  position: absolute;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.e102_7 {
  width: 15px;
  height: 15px;
  background: #000000;
  border-radius: 1px;
  transform: rotate(-90deg);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

/* css for image of each item */
.item-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.no-remaining {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: none;
  font-size: 30px;
  color: #888;
  text-align: center;
  font-weight: bolder;
}
