body {
  background: #e5e5e5;
}
/* header */
.e1_4 {
  position: relative;
  width: 1920px;
  height: 70px;

  background-color: #ffffff;
}
/* website name */
.e1_7 {
  position: absolute;
  width: 198px;
  height: 37px;
  left: 20px;
  top: 16px;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  cursor: pointer;
}

/* main css code for borrowingDate.css */

.e102_53 {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  width: 1920px;
  height: 700px;
  position: absolute;
}
.e174_9 {
  width: 570px;
  height: 569px;
  position: absolute;
  left: 675px;
  top: 83px;
}
.e102_54 {
  color: rgba(0, 0, 0, 1);
  width: 217px;
  height: 37px;
  position: absolute;
  left: 176px;
  top: 0px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
}
.e102_82 {
  color: rgba(0, 0, 0, 1);
  width: 36px;
  height: 37px;
  position: absolute;
  left: 320px;
  top: 122px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
}
.e102_83 {
  color: rgba(0, 0, 0, 1);
  width: 36px;
  height: 37px;
  position: absolute;
  left: 320px;
  top: 179px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
}
.e102_84 {
  color: rgba(0, 0, 0, 1);
  width: 34px;
  height: 37px;
  position: absolute;
  left: 416px;
  top: 122px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
}
.e102_86 {
  color: rgba(0, 0, 0, 1);
  width: 27px;
  height: 37px;
  position: absolute;
  left: 514px;
  top: 122px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
}
.e102_87 {
  color: rgba(0, 0, 0, 1);
  width: 28px;
  height: 37px;
  position: absolute;
  left: 513px;
  top: 179px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
}
.e102_85 {
  color: rgba(0, 0, 0, 1);
  width: 34px;
  height: 37px;
  position: absolute;
  left: 416px;
  top: 179px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
}
.e121_13 {
  color: rgba(0, 0, 0, 1);
  width: 24px;
  height: 25px;
  position: absolute;
  left: 287px;
  top: 310px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e102_55 {
  color: rgba(0, 0, 0, 1);
  width: 236px;
  height: 62px;
  position: absolute;
  left: 167px;
  top: 37px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 50px;
  letter-spacing: 0;
}

.e102_58 {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 374px;
  height: 233px;
  position: absolute;
  left: 98px;
  top: 246px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.e102_75 {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 275px;
  height: 37px;
  position: absolute;
  left: 295px;
  top: 122px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 25px;
  text-align: center;
  font-family: "Kumbh Sans";
}
.e102_75::-webkit-calendar-picker-indicator {
  font-size: 15px;
  padding-right: 20px;
}
.e102_76 {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 275px;
  height: 37px;
  position: absolute;
  left: 295px;
  top: 179px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 25px;
  text-align: center;
  font-family: "Kumbh Sans";
}
.e102_76::-webkit-calendar-picker-indicator {
  font-size: 15px;
  padding-right: 20px;
}
.e102_59 {
  color: rgba(0, 0, 0, 1);
  width: 215px;
  height: 37px;
  position: absolute;
  left: 0px;
  top: 122px;
  font-family: Kumbh Sans;
  text-align: left;
  font-size: 30px;
  letter-spacing: 0;
}
.e102_71 {
  color: rgba(0, 0, 0, 1);
  width: 250px;
  height: 37px;
  position: absolute;
  left: 0px;
  top: 179px;
  font-family: Kumbh Sans;
  text-align: left;
  font-size: 30px;
  letter-spacing: 0;
}
.e121_6 {
  color: rgba(0, 0, 0, 1);
  width: 289px;
  height: 185px;
  position: absolute;
  left: 12%;
  top: 5%;
  font-family: Kumbh Sans;
  text-align: left;
  font-size: 30px;
  letter-spacing: 0;
}
.e102_70 {
  width: 374px;
  height: 70px;
  position: absolute;
  left: 98px;
  top: 499px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.e102_61 {
  width: 374px;
  height: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e102_63 {
  color: rgba(0, 0, 0, 1);
  width: 194px;
  height: 58px;
  position: absolute;
  left: 90px;
  top: 6px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 35px;
  letter-spacing: 0;
}
.e102_77 {
  transform: rotate(90deg);
  width: 25px;
  height: 0px;
  position: absolute;
  left: 378px;
  top: 141px;
  border: 1px solid rgba(0, 0, 0, 1);
}
.e102_80 {
  transform: rotate(90deg);
  width: 25px;
  height: 0px;
  position: absolute;
  left: 472px;
  top: 141px;
  border: 1px solid rgba(0, 0, 0, 1);
}
.e102_81 {
  transform: rotate(90deg);
  width: 25px;
  height: 0px;
  position: absolute;
  left: 477px;
  top: 198px;
  border: 1px solid rgba(0, 0, 0, 1);
}
.e102_78 {
  transform: rotate(90deg);
  width: 25px;
  height: 0px;
  position: absolute;
  left: 378px;
  top: 198px;
  border: 1px solid rgba(0, 0, 0, 1);
}
.e121_14 {
  color: rgba(0, 0, 0, 1);
  width: 36px;
  height: 37px;
  position: absolute;
  left: 170px;
  top: 422px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
}
.e121_15 {
  color: rgba(0, 0, 0, 1);
  width: 28px;
  height: 37px;
  position: absolute;
  left: 360px;
  top: 422px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
}
.e121_16 {
  color: rgba(0, 0, 0, 1);
  width: 34px;
  height: 37px;
  position: absolute;
  left: 268px;
  top: 422px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
}
.e121_17 {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 275px;
  height: 37px;
  position: absolute;
  left: 141px;
  top: 423px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 25px;
  text-align: center;
  font-family: "Kumbh Sans";
}
.e121_17::-webkit-inner-spin-button,
.e121_17::-webkit-calendar-picker-indicator {
  display: none;
}
.e121_18 {
  transform: rotate(90deg);
  width: 25px;
  height: 0px;
  position: absolute;
  left: 323px;
  top: 441px;
  border: 1px solid rgba(0, 0, 0, 1);
}
.e121_19 {
  transform: rotate(90deg);
  width: 25px;
  height: 0px;
  position: absolute;
  left: 224px;
  top: 441px;
  border: 1px solid rgba(0, 0, 0, 1);
}
.e102_64 {
  left: 380px;
  top: 120px;
  border: 1px solid rgba(0, 0, 0, 1);
  width: 78px;
  height: 25px;
  position: absolute;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
}
.e102_65 {
  width: 15px;
  height: 15px;
  background: #000000;
  border-radius: 1px;
  transform: rotate(-90deg);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  position: absolute; /* 자식 div를 절대 위치로 설정 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}
.e102_66 {
  transform: rotate(-90deg);
  background-color: rgba(0, 0, 0, 1);
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0px;
  top: 10px;
  border-radius: 1px;
}
.e102_67 {
  width: 78px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e102_68 {
  width: 78px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e102_69 {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 78px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.e174_8 {
  width: 78px;
  height: 25px;
  position: absolute;
  left: 935px;
  top: 393px;
}
.e121_7 {
  width: 78px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e121_10 {
  width: 78px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e121_11 {
  width: 78px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e121_12 {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 78px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
