body {
  background: #e5e5e5;
}
/* header */
.e1_4 {
  position: relative;
  width: 1920px;
  height: 70px;

  background-color: #ffffff;
}
/* website name */
.e1_7 {
  position: absolute;
  width: 198px;
  height: 37px;
  left: 20px;
  top: 16px;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  cursor: pointer;
}
/* login group */
.e1_8 {
  box-sizing: border-box;
  font-weight: bold;
  position: absolute;
  width: 90px;
  height: 40px;
  left: 1810px;
  top: 15px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ffffff;
}

/* main css in SignUp.css */
.e28_6 {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  width: 1920px;
  height: 580px;
  position: absolute;
}
.e28_25 {
  width: 964px;
  height: 65px;
  position: absolute;
  left: 478px;
  top: 220px;
  background-color: rgba(
    217.0000022649765,
    217.0000022649765,
    217.0000022649765,
    1
  );

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* Student number input in Sign Up page */
.e28_8 {
  color: rgba(0, 0, 0, 0.8); /* 사용자 입력 텍스트 색상 */
  width: 300px;
  height: 37px;
  position: absolute;
  left: 340px;
  top: 14px;
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
  background-color: rgba(217, 217, 217, 1);
  border: none;
}

.e28_8::placeholder {
  color: rgba(0, 0, 0, 0.2); /* placeholder 텍스트 색상 */
}

.e28_8:focus {
  outline: none; /* 활성화 시 테두리 제거 */
  color: rgba(0, 0, 0, 1); /* 사용자 입력 시 텍스트 색상 */
}

.e28_24 {
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  width: 964px;
  height: 65px;
  position: absolute;
  left: 478px;
  top: 324px;
  background-color: rgba(
    217.0000022649765,
    217.0000022649765,
    217.0000022649765,
    1
  );

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.e28_9 {
  color: rgba(0, 0, 0, 0.8);
  width: 400px;
  height: 37px;
  position: absolute;

  text-align: center;
  font-size: 30px;

  font-family: "Kumbh Sans", sans-serif;
  letter-spacing: 0;
  background-color: rgba(217, 217, 217, 1);
  border: none;
}

.e28_9::placeholder {
  color: rgba(0, 0, 0, 0.2); /* placeholder 텍스트 색상 */
}

.e28_9:focus {
  outline: none; /* 활성화 시 테두리 제거 */
  color: rgba(0, 0, 0, 1); /* 사용자 입력 시 텍스트 색상 */
}

.e28_23 {
  width: 275px;
  height: 65px;
  position: absolute;
  left: 823px;
  top: 455px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
  background-color: #ffffff;
}

.e28_10 {
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: 65px;
  position: absolute;
  left: 63px;
  top: 0px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
}
.e28_17 {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 275px;
  height: 65px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
}

.e28_27 {
  width: 964px;
  height: 65px;
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  position: absolute;
  left: 484px;
  top: 116px;
  background-color: rgba(
    217.0000022649765,
    217.0000022649765,
    217.0000022649765,
    1
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* css for Username in Sign Up page */
.e28_21 {
  color: rgba(0, 0, 0, 0.8);
  width: 400px;
  height: 37px;
  position: absolute;
  text-align: center;
  font-size: 30px;
  font-family: "Kumbh Sans", sans-serif;
  letter-spacing: 0;
  background-color: rgba(217, 217, 217, 1);
  border: none;
}

.e28_21::placeholder {
  color: rgba(0, 0, 0, 0.2); /* placeholder 텍스트 색상 */
}

.e28_21:focus {
  outline: none; /* 활성화 시 테두리 제거 */
  color: rgba(0, 0, 0, 1); /* 사용자 입력 시 텍스트 색상 */
}
.e28_31 {
  color: rgba(0, 0, 0, 1);
  width: 700px;
  height: 60px;
  position: absolute;
  left: 611px;
  top: 20px;
  text-align: center;
  font-size: 50px;
  letter-spacing: 0;
}
