body {
  background: #e5e5e5;
}

/* header */
.e1_4 {
  position: relative;
  width: 1920px;
  height: 70px;
  background-color: #ffffff;
}

/* website name */
.e1_7 {
  position: absolute;
  width: 198px;
  height: 37px;
  left: 20px;
  top: 16px;
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #000000;
  cursor: pointer;
}
.e1_9 {
  box-sizing: border-box;
  font-weight: bold;
  position: absolute;
  width: 90px;
  height: 40px;
  left: 1810px;
  top: 15px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ffffff;
}

/* main css in studentRoom.css */
.e28_45 {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  width: 1920px;
  height: 740px;
  position: absolute;
}

.e28_46 {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 78px;
  height: 37px;
  position: absolute;
  left: 577px;
  top: 557px;
  border-radius: 20px;
}

.e28_47 {
  background-color: rgba(217, 217, 217, 1);
  width: 373px;
  height: 500px;
  position: absolute;
  left: 773px;
  top: 120px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 2;
}

.e28_48 {
  background-color: rgba(217, 217, 217, 1);
  width: 373px;
  height: 500px;
  position: absolute;
  left: 1168px;
  top: 120px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.e28_64 {
  display: block; /* 기본 상태에서 보이도록 수정 */
  background-color: rgba(9, 9, 9, 0.8); /* 검정색 레이어 */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  z-index: 5;
}

.e28_48 .e28_64 {
  display: block; /* 호버 상태에서 변하지 않도록 유지 */
}

.e28_64::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 40px solid white;
}

.e28_50 {
  color: rgba(0, 0, 0, 1);
  width: 350px;
  height: 124px;
  position: absolute;
  left: 380px;
  top: 185px;
  text-align: left;
  font-size: 50px;
  letter-spacing: 0;
}

.e28_51 {
  color: rgba(0, 0, 0, 1);
  width: 289px;
  height: 74px;
  position: absolute;
  left: 380px;
  top: 349px;
  text-align: left;
  font-size: 30px;
  letter-spacing: 0;
}

.e28_52 {
  color: rgba(0, 0, 0, 1);
  width: 300px;
  height: 37px;
  position: absolute;
  left: 380px;
  top: 510px;
  font-family: Kumbh Sans;
  text-align: left;
  font-size: 30px;
  letter-spacing: 0;
}

.e28_53 {
  color: rgba(0, 0, 0, 1);
  width: 135px;
  height: 37px;
  position: absolute;
  left: 380px;
  top: 557px;
  font-family: Kumbh Sans;
  text-align: left;
  font-size: 30px;
  letter-spacing: 0;
}

.e28_54 {
  color: rgba(0, 0, 0, 1);
  width: 35px;
  height: 37px;
  position: absolute;
  left: 598px;
  top: 557px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0;
}

.e28_55 {
  width: 150px;
  height: 40px;
  position: absolute;
  left: 977px;
  top: 557px;
  background-color: rgba(204, 200, 197, 0.8);
  border-radius: 20px;
  z-index: 3;
}

.e28_58 {
  color: rgba(255, 255, 255, 1);
  width: 90px;
  height: 25px;
  position: absolute;
  left: 30px;
  top: 8px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}

.e28_59 {
  width: 150px;
  height: 40px;
  position: absolute;
  left: 1371px;
  top: 557px;
}

.e28_62 {
  color: rgba(255, 255, 255, 1);
  width: 70px;
  height: 25px;
  position: absolute;
  left: 40px;
  top: 8px;
  font-family: Kumbh Sans;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}

.e32_85 {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 1px;
  transform: rotate(90deg);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.e32_87 {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 78px;
  height: 25px;
  position: absolute;
  border-radius: 40px;
  left: 380px;
  top: 120px;
  cursor: pointer;
}

.e32_104 {
  width: 15px;
  height: 15px;
  background: #000000;
  border-radius: 1px;
  transform: rotate(-90deg);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}
.e32_101 {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 78px;
  height: 25px;
  position: absolute;
  border-radius: 40px;
  left: 380px;
  top: 120px;
  cursor: pointer;
}
